-e .
bumpversion==0.5.3
django-oauth-toolkit==0.10.0
djangorestframework==3.4.7
flake8==3.0.4
isort==4.2.5
mixer==5.5.7
mkdocs==0.15.3
mock==2.0.0
pytest-cov==2.3.1
pytest-django==3.0.0
pytest==3.0.2
