-e .
bumpversion==0.5.3
django-oauth-toolkit==1.0.0
djangorestframework==3.11.2
flake8==3.5.0
isort==4.3.4
mkdocs==1.0.4
mock==2.0.0
model-mommy==1.6.0
pytest-cov==2.6.0
pytest-django==3.4.3
pytest==3.8.2
