-e .
bumpversion==0.5.3
django-oauth-toolkit==1.2.0
djangorestframework==3.10.3
flake8==3.7.8
isort==4.3.21
mkdocs==1.0.4
mock==3.0.5
model-mommy==1.6.0
pytest-cov==2.8.1
pytest-django==3.5.1
pytest==5.2.1
